{% extends "troisWABlogBundle::layout.html.twig" %}
{% block title %}
    {{  parent()}}
    gestion des articles
{% endblock %}
{% block content %}
    <h1>Formulaire de gestion des articles</h1>
    {{ form(articleForm) }}
{% endblock %}