{% extends "troisWABlogBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
    gestion des catégories
{% endblock %}
{% block content %}
    <h1>Formulaire de gestion des catégories</h1>
    {{ form(categoryForm) }}
{% endblock %}
